.contentFilterBtn {
    display: inline-block;
    padding: 6px 14px;
    background-color: white;
    border: 1px solid $border_grey;
    border-radius: 25px;
    color: $color_text;

    &:hover, &:focus {
        background-color: $border_grey_light;
        color: $brand_black;
    }
}

.snipTrend{
    display: none;
    padding-top: 10px;
    display: block;

    &::before {
        content: "";
        margin-right: 2px;
        display: inline-block;
        font-size: 1.5em;
        line-height: 1;
    }
    
    &.trendUp{
        color: $color_green;

        &::before {
            content: "+";
        }
    }
    
    &.trendDown{
        color: $color_red;
        
        &::before {       
            content: "-";
        }
    }
}

.tabelControl {
    display: inline-block;

    + .tabelControl {
        margin-left: 1.5rem;
    }
}

.tableControlBtn {
    padding: 8px 14px;
    display: inline-flex;
    align-items: center;
    font-weight: 700;
    border-radius: 25px;
    background-color: $color_white;
    color: $color_grey_dark;
    fill: $border_grey_dark;
    @include transition(all .4s ease-in-out);

    @include MQ-MAX(S) {
        padding-left: 0;
        padding-right: 0;
    }

    .cust_icon {
        width: 16px;
        height: 16px;
    }

    &:hover, &:focus {
        background-color: $brand_inverse;
        color: $brand_black;
        fill: $brand_primary;
    }
}

.labelTag {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: .025em;
    text-transform: uppercase;
    color: $border_grey_dark;
    white-space: nowrap;
}

.labelTagPrimary {
    color: $brand_primary;
}

.labelTagSecondary {
    color: $brand_accent;
}

.labelTagDanger {
    color: $color_red;
}

.labelTagNeutral {
    color: $color_text;
}

.labelTagSuccess {
    color: $color_green;
}

.fileUploadWidgetToggle {
    display: block;
    width: 100%;
    padding: 40px 50px;
    min-height: 150px;
    cursor: pointer;
    border: 1px dashed $border_grey;
    background-color: $color_white;
    color: $color_grey_dark;
    margin-bottom: 10px;
    @include transition(all .4s ease-in-out 0s);

    &:hover, &:focus {
        border-color: $brand_primary;
        background-color: $brand_inverse;
    }
}

.profileStatMeta {
    padding: 0 15px;

    @include MQ-MAX(S) {
        width: 50%;
        flex-basis: 50%;
    }
}

.profileManagementOptions {
    @include flexbox();
    flex-shrink: 0;
}

.bubbleControlItem + .bubbleControlItem {
    margin-left: 30px;
}

.bubbleControlBtn {
    display: block;
    text-align: center;
    background-color: transparent;
    color: $color_text_gray;
    font-weight: 700;

    &:hover, :focus {
        color: $brand_black;

        .bubbleControlTile {
            background-color: $color_white;
        }
    }
}

.tileLabel {
    margin-top: 10px;
    display: block;
}

.bubbleControlTile {
    @include flexbox();
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 0;
    width: 40px;
    height: 40px;
    margin: auto;
    align-items: center;
    background-color: $brand_inverse;
    border-radius: 50%;
    @include transition(all, .4s ease-in-out 0s);

    .contactItem &{
        width: 32px;
        height: 32px;
        background-color: #DBEEF8;
    }
}

.panelContentFilterItem {
    margin-bottom: 20px;
}
