/* SVG Icon systems */
.cust_icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  overflow: hidden;
  vertical-align: middle;
  fill: inherit;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

  .icon_holder & {
    width: 20px;
    height: 20px;
  }
  
  .contentFilterBtn > & {
    margin-left: 10px;
  }
}

svg {
    display: inline-block;
    width: 100%;
}

.icon_xs {
  width: 16px;
  height: 16px;
}

.icon_sm {
  width: 32px;
  height: 32px;
}

.icon_md {
  width: 24px;
  height: 24px;

  @include MQ(M) {
    width: 48px;
  height: 48px;
  }
}

.icon_lg {
  width: 64px;
  height: 64px;
}

.icon_xl {
    width: 64px;
    height: 64px;

    @include MQ(M) {
      width: 128px;
      height: 128px;
    }
}

.icon_fb {
  background-image: url(../img/icons/facebook.svg);
}

.icon_whatsapp {
  background-image: url(../img/icons/whatsapp.svg);
}

.icon_ig {
  background-image: url(../img/icons/instagram.svg);
}

.icon_tw {
  background-image: url(../img/icons/twitter.svg);
}

.icon_info {
  background-image: url(../img/icons/info.svg);
}

.icon_chevron_down {
  background-image: url(../img/icons/chevron-down.svg);
}

.icon_user {
  background-image: url(../img/icons/user_icon.svg);
}

.icon_lock {
  background-image: url(../img/icons/key_lock.svg);
}

.icon_user_circle {
  background-image: url(../img/icons/UserCircle.svg);
}

.icon_help {
  background-image: url(../img/icons/help-circle.svg);
}

.icon_settings {
  background-image: url(../img/icons/settings.svg);
}

.icon_logout {
  background-image: url(../img/icons/log-out.svg);
}

.icon_upload {
  background-image: url(../img/icons/cloud_upload.svg);
}

.icon_remove {
  background-image: url(../img/icons/remove.svg);
}

.icon_config {
  background-image: url(../img/icons/Wrench.svg);
}

.icon_contact {
  background-image: url(../img/icons/ChatsCircle.svg);
}

.icon_phone {
  background-image: url(../img/icons/Phone.svg);
}

.icon_email {
  background-image: url(../img/icons/email.svg);
}

.icon_address {
  background-image: url(../img/icons/mapPin.svg);
}

.icon_url {
  background-image: url(../img/icons/url.svg);
}

.icon_bank {
  background-image: url(../img/icons/Bank.svg);
}

.icon_bank_primary {
  background-image: url(../img/icons/Bank_primary.svg);
}

.icon_company {
  background-image: url(../img/icons/Buildings.svg);
}

.icon_refresh {
  background-image: url(../img/icons/refresh.svg);
}

.icon_download {
  background-image: url(../img/icons/download.svg);
}

.icon_calendar {
  background-image: url(../img/icons/CalendarBlank.svg);
}

.icon_options {
  background-image: url(../img/icons/more.svg);
}