%hero_background {
    background-size: cover;
    width: 100%;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
    overflow: hidden;
    min-height: 380px;

    @include MQ(M) {
        min-height: 100%;
    }
}

.hero_area {
    @extend %hero_background;
    
    .container {
        z-index: 10;
    }
}


.about_hero {
    background-image: url(../img/banners/about_hero.jpg);
    background-color: $brand_inverse;

    &::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0; left: 0;
        z-index: 3;
        background: linear-gradient(0deg, $brand_inverse 0%, rgba(white,0) 30%);
    }
}

.imageBlob {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: top center;
    right: 0;
    left: 0;
    top: 160px;
}

.logoBgPattern {
    background-image: url(../img/banners/logo_bg_grey.svg);
}

.floatingAirplane {
    // max-height: 850px;
    background-size: 100%;
    @include center(x);
    background-image: url(../img/banners/pageFloatingIcons.png);

    @include MQ(M) {
        width: 80%;
        top: 130px;
    }
}

.heroContentWrapper {
    min-height: 65vh;
    padding: 150px 0 70px;
    justify-content: space-between;
    align-content: center;
    align-items: center;

    @include MQ(M) {
        padding-bottom: 150px;
    }
}

.textWrapperMeasured {
    max-width: 380px;
    padding-top: 10px;
    padding-bottom: 30px;

    @include MQ(M) {
        width: 30%;
        padding-top: 60px;
        padding-bottom: 60px;
    }

    @include MQ(XXL) {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    @include MQ-MAX(S) {
        text-align: center;
    }

}

.heroPositionedIMageHolder {
    width: 100%;
    margin-top: 30px;
    margin-left: -20px;

    @include MQ(M) {
        width: 70%;
        position: absolute;
        bottom: 0;
        right: 0;
        margin-left: 0;
    }

    @include MQ(XXL) {
        width: 60%;
    }

    img {
        display: block;
        width: 100%;
    }
}

.heroBannerImage {
    display: block;

    @include MQ(M) {
        position: absolute;
        @include center(y);
        right: 0;
    }
}

.infoBlobImage {
    max-width: 770px;
}

.heroContentBoxWrapper {
    display: block;
    width: 100%;
    position: relative;
    padding: 20px;
    border-radius: 30px;
    background-color: rgba($brand_primary, .75);

    @include MQ(M) {
        padding: 50px;
    }
}

.hero_title {
    font-size: 2.35rem;
    margin-bottom: 15px;
    letter-spacing: 1px;
    @include break-inside(avoid);
    
    @include MQ(M) {
        font-size: 3.75rem;
    }
}

.hero_blub {
    font-size: 1.25rem;
    color: inherit;

    @include MQ(M) {
        font-size: 1.5rem;
    }
}

.imageItemHolder {
    padding-bottom:20px;

    img {
        display: inline-block;
        max-width: 370px;
        width: 100%;
    }

    @include MQ(M) {
        padding: 0 30px
    }
}

.logo_grid {
    display: grid;
    @include flexbox();
    width: 100%;
    flex-wrap: wrap;
    overflow-x: auto;
    justify-content: center;
}

.logo_item {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;

    + .logo_item {
        margin-left: 30px;
    }
    
    img {
        display: block;
        height: 40px;
        width: auto;
    }

    @include MQ-MAX(S) {
        flex-basis: 85px;

        img {
            width: 100%;
        }
    }
}

.grey_scaled {
    @include filter(grayscale(1));
    @include transition(filter .4s ease-in-out 0s, opacity .4s ease-in-out 0s);
    opacity: .3;

    &:hover, &:focus {
        opacity: 1;
        @include filter(grayscale(0));
    }
}
