.metaList {
    font-size: 13px;
    @include flexbox();
    align-items: center;
}

.metaItem {
    display: inline-flex;
    white-space: nowrap;
}

// Data insights
.insight_item {
    margin-bottom: 20px;
}

.insight_title {
    clear: both;
    font-size: 13px;
    color: $color_text_gray;
}

.insight_value {
    display: inline-flex;
    line-height: 1;
    position: relative;
    align-items: center;
}

.snippetInfo {
    display: inline-flex;
    align-items: center;
    font-weight: 700;
    cursor: pointer;
    cursor: pointer;
}

.statSupportInfo {
    display: inline-flex;
    padding: 0 7.5px;
}

.unit {
    font-size: .6em;
    text-transform: capitalize;
    letter-spacing: .025em;
    color: $brand_inverse;
    padding-left: 2.5px; 
}

.dataSnipIcon {
    width: 48px;
    height: 48px;
    @include flexbox;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    background-color: $border_grey_light;
}

.contactItem {
    align-items: center;
    font-size: 16px;
    + .contactItem {
        margin-top: 15px;   
    }
}

.titleListItem {
    @include flexbox();

    &::before {
        height: 24px;
        width: 24px;
        margin-right: 15px;
        display: inline-flex;
        content: "";
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url(../img/icons/listMarkerTick.svg);

        @include MQ(M) {
            margin-top: 0;
        }
    }

    > span {
        flex-grow: 1;
        width: 100%;
    }
    
    + .titleListItem {
        margin-top: 15px;
    }
}